extends layouts/page
block title
    title Article
block header
    include partials/navb
block content
    include mixins/likes
    -
        function Slide(title, flag, nick, likes, dislikes, liked, photo, sheepName, sheepType, year, national, team, frase, desc)
        {
            this.title = title;
            this.flag = flag;
            this.nick = nick;
            this.likes = likes;
            this.dislikes = dislikes;
            this.liked = liked;
            this.photo = photo;
            this.sheepName = sheepName;
            this.sheepType = sheepType;
            this.national = national;
            this.year = year;
            this.team = team || {};
            this.frase = frase;
            this.desc = desc;
        }
        var PATH = {
            team: 'assets/img/team/',
            img: 'assets/img/'
        }
        var slides = [
            new Slide('Leeuwenhare', 'uk_UK', '@levlev', 19, 2, false, PATH.img + 'lion.jpg', 'Leeuwenhare', 'Яхта', 'Украина', 2004, [
                {"name": "Андрей Иевлев", "avatar": PATH.team + "capitan.png", "pos": "Капитан"},
                {"name": "Анна Иевлева", "avatar": PATH.team + "capitan-woman.png", "pos": "Капитан"},
                {"name": "Муся", "avatar": PATH.team + "cat.png", "pos": "Первий помошник"},
                {"name": "Антон Щербаков", "avatar": PATH.team + "man.png", "pos": "Пассажыр"},
                {"name": "Олег Путин", "avatar": PATH.team + "matros.png", "pos": "Матрос"},
                {"name": "Ольга Путина", "avatar": PATH.team + "matros-woman.png", "pos": "Матрос"}
            ], 'Фраза', 'Описание'),
            new Slide('Syllogic', 'uk_UK', '@levlev', 20, 2, true, PATH.img + 'wave.png', 'Leeuwenhare', 'Украина', 'Яхта', 2004, [
                {"name": "Андрей Иевлев", "avatar": PATH.team + "capitan.png", "pos": "Капитан"},
                {"name": "Анна Иевлева", "avatar": PATH.team + "capitan-woman.png", "pos": "Капитан"},
                {"name": "Муся", "avatar": PATH.team + "cat.png", "pos": "Первий помошник"},
                {"name": "Антон Щербаков", "avatar": PATH.team + "man.png", "pos": "Пассажыр"},
                {"name": "Олег Путин", "avatar": PATH.team + "matros.png", "pos": "Матрос"},
                {"name": "Ольга Путина", "avatar": PATH.team + "matros-woman.png", "pos": "Матрос"}
            ], 'Фраза', 'Описание'),
            new Slide('Leeuwenhare', 'uk_UK', '@levlev', 19, 2, false, PATH.img + 'lion.jpg', 'Leeuwenhare', 'Украина', 'Яхта', 2004, [
                {"name": "Андрей Иевлев", "avatar": PATH.team + "capitan.png", "pos": "Капитан"},
                {"name": "Анна Иевлева", "avatar": PATH.team + "capitan-woman.png", "pos": "Капитан"},
                {"name": "Муся", "avatar": PATH.team + "cat.png", "pos": "Первий помошник"},
                {"name": "Антон Щербаков", "avatar": PATH.team + "man.png", "pos": "Пассажыр"},
                {"name": "Олег Путин", "avatar": PATH.team + "matros.png", "pos": "Матрос"},
                {"name": "Ольга Путина", "avatar": PATH.team + "matros-woman.png", "pos": "Матрос"}
            ], 'Фраза', 'Описание'),
            new Slide('Leeuwenhare', 'uk_UK', '@levlev', 19, 2, true, PATH.img + 'lion.jpg', 'Leeuwenhare', 'Украина', 'Яхта', 2004, [
                {"name": "Андрей Иевлев", "avatar": PATH.team + "capitan.png", "pos": "Капитан"},
                {"name": "Анна Иевлева", "avatar": PATH.team + "capitan-woman.png", "pos": "Капитан"},
                {"name": "Муся", "avatar": PATH.team + "cat.png", "pos": "Первий помошник"},
                {"name": "Антон Щербаков", "avatar": PATH.team + "man.png", "pos": "Пассажыр"},
                {"name": "Олег Путин", "avatar": PATH.team + "matros.png", "pos": "Матрос"},
                {"name": "Ольга Путина", "avatar": PATH.team + "matros-woman.png", "pos": "Матрос"}
            ], 'Фраза', 'Описание')
        ];
        var items = [
        {"img": PATH.img + "lion.jpg" ,"Название лодки": "Leeuwenhare", "Тип лодки": "Яхта", "Год прибытия": 2004, "Экипаж": {
            "Андрей Иевлев": "Капитан", "Владимир Федоров": "Матрос", "Муся": "Первый помошник"
            }
        },
        {"img": PATH.img + "lion.jpg" ,"Название лодки": "Leeuwenhare", "Тип лодки": "Яхта", "Год прибытия": 2004, "Экипаж": {
            "Андрей Иевлев": "Капитан 1", "Владимир Федоров": "Матрос 1", "Муся": "Первый помошник 1"
            }
        }
        ];
    .container-fluid
        .container
            a(href="#") « Назад
        .container.image-profile
            .row
                .col-xs-12
                    .row
                        .col-xs-6
                            .pull-left
                                h3.image-title
                                    span Leeuwenahre
                                    img(src="assets/img/langs/"+ slides[0].flag +".png", alt=slides[0].flag)
                                a.nickname.text-warning(href=slides[0].nick)=slides[0].nick
                        .col-xs-6
                            .pull-right.slide-likes
                                +likes(slides[0].likes, slides[0].dislikes, true)
                    .row
                        .col-xs-12
                            .border-brand-wrapper
                                .border-corners
                                    .border-brand
                                    img.center-block(src=slides[0].photo)
                    .row.slide-text
                        .col-xs-12
                            .row.slide-stats
                                .col-sm-12.col-md-6
                                    .pull-left.slide-list
                                        div
                                            b Название лодки:
                                            b= slides[0].sheepName
                                        div
                                            b Тип лодки:
                                            b: a(href="#")= slides[0].sheepType
                                        div
                                            b Год прибытия:
                                            b: a(href="#")= slides[0].year
                                        div
                                            b Национальность:
                                            b: a(href="#")= slides[0].national
                                .col-sm-12.col-md-6
                                    .pull-right
                                        p= slides[0].frase
                            p.text-center= slides[0].desc
                            .row
                                .col-xs-2
                                    h3 Экипаж:
                                .col-xs-10
                                    div.flex-between
                                        each member in slides[0].team
                                            div.text-center
                                                img(src=member.avatar)
                                                div.member-name=member.name
                                                div.member-pos.text-muted= member.pos
    .container
        h2 Другие прибытия автора
    include partials/more-cards
    .container-fluid
        include partials/card-section