extends layouts/page
block title
    title Article
block header
    include partials/navb
block content
    -
        function Slide(title, flag, nick, likes, dislikes, liked, photo, sheepName, sheepType, year, national, team, frase, desc)
        {
            this.title = title;
            this.flag = flag;
            this.nick = nick;
            this.likes = likes;
            this.dislikes = dislikes;
            this.liked = liked;
            this.photo = photo;
            this.sheepName = sheepName;
            this.sheepType = sheepType;
            this.national = national;
            this.year = year;
            this.team = team || {};
            this.frase = frase;
            this.desc = desc;
        }
        var PATH = {
            team: 'img/team/'
        }
        var slides = [
            new Slide('Leeuwenhare', 'uk_UK', '@levlev', 19, 2, false, 'img/lion.jpg', 'Leeuwenhare', 'Яхта', 'Украина', 2004, [
                {"name": "Андрей Иевлев", "avatar": PATH.team + "capitan.png", "pos": "Капитан"},
                {"name": "Анна Иевлева", "avatar": PATH.team + "capitan-woman.png", "pos": "Капитан"},
                {"name": "Муся", "avatar": PATH.team + "cat.png", "pos": "Первий помошник"},
                {"name": "Антон Щербаков", "avatar": PATH.team + "man.png", "pos": "Пассажыр"},
                {"name": "Олег Путин", "avatar": PATH.team + "matros.png", "pos": "Матрос"},
                {"name": "Ольга Путина", "avatar": PATH.team + "matros-woman.png", "pos": "Матрос"}
            ], 'Фраза', 'Описание'),
            new Slide('Syllogic', 'uk_UK', '@levlev', 20, 2, true, 'img/wave.png', 'Leeuwenhare', 'Украина', 'Яхта', 2004, [
                {"name": "Андрей Иевлев", "avatar": PATH.team + "capitan.png", "pos": "Капитан"},
                {"name": "Анна Иевлева", "avatar": PATH.team + "capitan-woman.png", "pos": "Капитан"},
                {"name": "Муся", "avatar": PATH.team + "cat.png", "pos": "Первий помошник"},
                {"name": "Антон Щербаков", "avatar": PATH.team + "man.png", "pos": "Пассажыр"},
                {"name": "Олег Путин", "avatar": PATH.team + "matros.png", "pos": "Матрос"},
                {"name": "Ольга Путина", "avatar": PATH.team + "matros-woman.png", "pos": "Матрос"}
            ], 'Фраза', 'Описание'),
            new Slide('Leeuwenhare', 'uk_UK', '@levlev', 19, 2, false, 'img/lion.jpg', 'Leeuwenhare', 'Украина', 'Яхта', 2004, [
                {"name": "Андрей Иевлев", "avatar": PATH.team + "capitan.png", "pos": "Капитан"},
                {"name": "Анна Иевлева", "avatar": PATH.team + "capitan-woman.png", "pos": "Капитан"},
                {"name": "Муся", "avatar": PATH.team + "cat.png", "pos": "Первий помошник"},
                {"name": "Антон Щербаков", "avatar": PATH.team + "man.png", "pos": "Пассажыр"},
                {"name": "Олег Путин", "avatar": PATH.team + "matros.png", "pos": "Матрос"},
                {"name": "Ольга Путина", "avatar": PATH.team + "matros-woman.png", "pos": "Матрос"}
            ], 'Фраза', 'Описание'),
            new Slide('Leeuwenhare', 'uk_UK', '@levlev', 19, 2, true, 'img/lion.jpg', 'Leeuwenhare', 'Украина', 'Яхта', 2004, [
                {"name": "Андрей Иевлев", "avatar": PATH.team + "capitan.png", "pos": "Капитан"},
                {"name": "Анна Иевлева", "avatar": PATH.team + "capitan-woman.png", "pos": "Капитан"},
                {"name": "Муся", "avatar": PATH.team + "cat.png", "pos": "Первий помошник"},
                {"name": "Антон Щербаков", "avatar": PATH.team + "man.png", "pos": "Пассажыр"},
                {"name": "Олег Путин", "avatar": PATH.team + "matros.png", "pos": "Матрос"},
                {"name": "Ольга Путина", "avatar": PATH.team + "matros-woman.png", "pos": "Матрос"}
            ], 'Фраза', 'Описание')
        ];
        var items = [
        {"img": "../img/lion.jpg" ,"Название лодки": "Leeuwenhare", "Тип лодки": "Яхта", "Год прибытия": 2004, "Экипаж": {
            "Андрей Иевлев": "Капитан", "Владимир Федоров": "Матрос", "Муся": "Первый помошник"
            }
        },
        {"img": "../img/lion.jpg" ,"Название лодки": "Leeuwenhare", "Тип лодки": "Яхта", "Год прибытия": 2004, "Экипаж": {
            "Андрей Иевлев": "Капитан 1", "Владимир Федоров": "Матрос 1", "Муся": "Первый помошник 1"
            }
        }
        ];
    .container-fluid
        .container
            a(href="#") « Назад
        .carousel.slide#carousel-imgs(data-ride="carousel")
            .carousel-inner(role="listbox")
                each slide, index in slides
                        div(class=!index ? 'container item active' : 'container item')
                            .row
                                .col-xs-6
                                    .pull-left
                                        h3
                                            span Leeuwenahre
                                            img(src="img/langs/"+ slide.flag +".png", alt=slide.flag)
                                        a.nickname.text-warning(href=slide.nick)=slide.nick
                                .col-xs-6
                                    .pull-right.slide-likes
                                        span.text-success
                                            i.fa.fa-lg.fa-thumbs-up
                                            span=slide.likes
                                        span.text-warning
                                            i.fa.fa-lg.fa-thumbs-down
                                            span=slide.dislikes
                                        span.text-danger
                                            .fa.fa-lg.fa-heart
                            .row
                                .col-xs-12
                                    .center-block.border-brand
                                        img.center-block(src=slide.photo alt=index)
                            .row.slide-text
                                .col-xs-12
                                    .row
                                        .col-sm-12.col-md-6
                                            .pull-left
                                                div
                                                    b Название лодки:
                                                    span= slide.sheepName
                                                div
                                                    b Тип лодки:
                                                    span: a(href="#")= slide.sheepType
                                                div
                                                    b Год прибытия:
                                                    span: a(href="#")= slide.year
                                                div
                                                    b Национальность:
                                                    span: a(href="#")= slide.national
                                        .col-sm-12.col-md-6
                                            .pull-right
                                                p= slide.frase
                                    p.text-center= slide.desc
                                    .row
                                        .col-xs-2
                                            h3 Экипаж:
                                        .col-xs-10
                                            div.flex-between
                                                each member in slide.team
                                                    div.text-center
                                                        img(src=member.avatar)
                                                        div.member-name=member.name
                                                        div.member-pos.text-muted= member.pos
            .left.carousel-control(href="#carousel-imgs", role="button", data-slide="prev")
                span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                span.sr-only Previous
            .right.carousel-control(href="#carousel-imgs", role="button", data-slide="next")
                span.glyphicon.glyphicon-chevron-right
                span.sr-only Next
    .container
        h2 Другие прибытия автора
    include partials/more-cards
    .container-fluid
        include partials/card-section