extends layouts/page
block title
    title Article
block header
    include partials/navb
block content
    include mixins/likes
    -
        function Slide(title, flag, nick, likes, dislikes, liked, photo, sheepName, sheepType, year, national, team, frase, desc)
        {
            this.title = title;
            this.flag = flag;
            this.nick = nick;
            this.likes = likes;
            this.dislikes = dislikes;
            this.liked = liked;
            this.photo = photo;
            this.sheepName = sheepName;
            this.sheepType = sheepType;
            this.national = national;
            this.year = year;
            this.team = team || {};
            this.frase = frase;
            this.desc = desc;
        }
        var PATH = {
            team: 'assets/img/team/',
            img: 'assets/img/'
        }
        var slides = [
            new Slide('Leeuwenhare', 'uk_UK', '@levlev', 19, 2, false, PATH.img + 'wave.png', 'Leeuwenhare', 'Яхта', 'Украина', 2004, [
                {"name": "Андрей Иевлев", "avatar": PATH.team + "capitan.png", "pos": "Капитан"},
                {"name": "Анна Иевлева", "avatar": PATH.team + "capitan-woman.png", "pos": "Капитан"},
                {"name": "Муся", "avatar": PATH.team + "cat.png", "pos": "Первий помошник"},
                {"name": "Антон Щербаков", "avatar": PATH.team + "man.png", "pos": "Пассажыр"},
                {"name": "Олег Путин", "avatar": PATH.team + "matros.png", "pos": "Матрос"},
                {"name": "Ольга Путина", "avatar": PATH.team + "matros-woman.png", "pos": "Матрос"}
            ], 'Товарищи! начало повседневной работы по формированию позиции требуют от нас анализа позиций.. ', 'Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации новых предложений.'),
            new Slide('Syllogic', 'uk_UK', '@levlev', 20, 2, true, PATH.img + 'wave.png', 'Leeuwenhare', 'Украина', 'Яхта', 2004, [
                {"name": "Андрей Иевлев", "avatar": PATH.team + "capitan.png", "pos": "Капитан"},
                {"name": "Анна Иевлева", "avatar": PATH.team + "capitan-woman.png", "pos": "Капитан"},
                {"name": "Муся", "avatar": PATH.team + "cat.png", "pos": "Первий помошник"},
                {"name": "Антон Щербаков", "avatar": PATH.team + "man.png", "pos": "Пассажыр"},
                {"name": "Олег Путин", "avatar": PATH.team + "matros.png", "pos": "Матрос"},
                {"name": "Ольга Путина", "avatar": PATH.team + "matros-woman.png", "pos": "Матрос"}
            ], 'Фраза', 'Описание'),
            new Slide('Leeuwenhare', 'uk_UK', '@levlev', 19, 2, false, PATH.img + 'lion.jpg', 'Leeuwenhare', 'Украина', 'Яхта', 2004, [
                {"name": "Андрей Иевлев", "avatar": PATH.team + "capitan.png", "pos": "Капитан"},
                {"name": "Анна Иевлева", "avatar": PATH.team + "capitan-woman.png", "pos": "Капитан"},
                {"name": "Муся", "avatar": PATH.team + "cat.png", "pos": "Первий помошник"},
                {"name": "Антон Щербаков", "avatar": PATH.team + "man.png", "pos": "Пассажыр"},
                {"name": "Олег Путин", "avatar": PATH.team + "matros.png", "pos": "Матрос"},
                {"name": "Ольга Путина", "avatar": PATH.team + "matros-woman.png", "pos": "Матрос"}
            ], 'Фраза', 'Описание'),
            new Slide('Leeuwenhare', 'uk_UK', '@levlev', 19, 2, true, PATH.img + 'lion.jpg', 'Leeuwenhare', 'Украина', 'Яхта', 2004, [
                {"name": "Андрей Иевлев", "avatar": PATH.team + "capitan.png", "pos": "Капитан"},
                {"name": "Анна Иевлева", "avatar": PATH.team + "capitan-woman.png", "pos": "Капитан"},
                {"name": "Муся", "avatar": PATH.team + "cat.png", "pos": "Первий помошник"},
                {"name": "Антон Щербаков", "avatar": PATH.team + "man.png", "pos": "Пассажыр"},
                {"name": "Олег Путин", "avatar": PATH.team + "matros.png", "pos": "Матрос"},
                {"name": "Ольга Путина", "avatar": PATH.team + "matros-woman.png", "pos": "Матрос"}
            ], 'Фраза', 'Описание')
        ];
        var items = [
        {"img": PATH.img + "lion.jpg" ,"Название лодки": "Leeuwenhare", "Тип лодки": "Яхта", "Год прибытия": 2004, "Экипаж": {
            "Андрей Иевлев": "Капитан", "Владимир Федоров": "Матрос", "Муся": "Первый помошник"
            }
        },
        {"img": PATH.img + "lion.jpg" ,"Название лодки": "Leeuwenhare", "Тип лодки": "Яхта", "Год прибытия": 2004, "Экипаж": {
            "Андрей Иевлев": "Капитан 1", "Владимир Федоров": "Матрос 1", "Муся": "Первый помошник 1"
            }
        }
        ];
    .container-fluid
        .container
            a(href="index.html") « Назад
        .container.image-profile
            .row
                .col-xs-12
                    .row
                        .pull-left
                            h1.image-title
                                span Leeuwenahre
                                img(src="assets/img/langs/"+ slides[0].flag +".png", alt=slides[0].flag)
                            a.lead.text-warning(href=slides[0].nick)=slides[0].nick
                        .pull-right.slide-likes
                            +likes(slides[0].likes, slides[0].dislikes, true)
                    .row.image-container
                        .col-xs-12
                            .border-brand-wrapper
                                .border-corners
                                    .border-brand
                                    img.center-block.img-responsive(src=slides[0].photo)
                        .col-xs-12
                            .row.slide-stats
                                .col-sm-12.col-md-6
                                    .pull-left.slide-list
                                        .fz4
                                            b Название лодки:
                                            b= slides[0].sheepName
                                        .fz4
                                            b Тип лодки:
                                            b: a(href="#")= slides[0].sheepType
                                        .fz4
                                            b Год прибытия:
                                            b: a(href="#")= slides[0].year
                                        .fz4
                                            b Национальность:
                                            b: a(href="#")= slides[0].national
                                .col-sm-12.col-md-6
                                    .pull-right
                                        p.lead.text-right= slides[0].frase
                                .col-sm-12
                                    p.image-desc.lead.text-center= slides[0].desc
                    .row
                        .col-xs-12.col-md-2
                            h2 Экипаж:
                        .col-xs-12.col-md-10
                            div
                                each member in slides[0].team
                                    div.pull-left.text-center.member
                                        img(src=member.avatar)
                                        .lead=member.name
                                        .fz4.text-uppercase.text-muted= member.pos
    .container
        h2 Другие прибытия автора
    include partials/more-cards
    include mixins/card
    -
        var PATH = {
        cards: 'assets/img/cards/',
        flags: 'assets/img/langs/'
        };
        var cards = [
            new Card(PATH.cards + 'card2.png', 'Portugal', 'Ukraine', 'Name1, Name2, Name3', '20.20.12', 'Leeuwenhare', '56', '2', PATH.flags + 'uk.png', true),
            new Card(PATH.cards + 'card3.png', 'USA', 'Russia', 'Name1, Name2, Name3', '21.12.16', 'Wenhar', '44', '0', PATH.flags + 'ru.png', true),
            new Card(PATH.cards + 'card4.png', 'Spain', 'UK', 'Name1, Name2, Name3', '20.20.12', 'Wenhar', '16', '20', PATH.flags + 'uk.png', false),
            new Card(PATH.cards + 'card7.png', 'Italy', 'Ukraine', 'Name1, Name2, Name3', '20.20.12', 'Leeuwenhare', '16', '2', PATH.flags + 'ru.png', true)
        ];
    .container-fluid
        .container
            h2 Лучшие фото
            .row
                each card in cards
                    .col-xs-12.col-sm-6.col-md-3
                        +card(card)