-
    function Card (img, from, to, members, date, title, likes, dislikes, flag, isLiked)
    {
        this.img = img;
        this.from = from;
        this.to = to;
        this.members = members;
        this.date = date;
        this.title = title;
        this.likes = likes;
        this.dislikes = dislikes;
        this.flag = flag;
        this.isLiked = isLiked;
    }
    function searchCard (img, title, likes, dislikes, flag, isLiked)
    {
        this.img = img;
        this.title = title;
        this.likes = likes;
        this.dislikes = dislikes;
        this.flag = flag;
        this.isLiked = isLiked;
    }
    function CardMore(title, img, flag, date, likes, dislikes, isLiked)
    {
        this.title = title;
        this.img = img;
        this.flag = flag;
        this.likes = likes;
        this.dislikes = dislikes;
        this.isLiked = isLiked;
    }
mixin card(card, withFooter)
    if !withFooter
        .card
            .panel.panel-default
                .panel-heading.card__img-container
                    img.card__img.img-responsive(src=card.img, alt=card.img)
                    .card__img-info
                        .card__routes
                        .card__members
                            div
                                p.fz4.text-warning Откуда
                                p
                                    span.fa.fa-arrow-right.text-warning
                                    b=card.from
                            div
                                p.fz4s.text-warning Куда
                                p
                                    span.fa.fa-arrow-right.text-warning
                                    b=card.to
                    .text-muted.card__date.fz6=card.date
                .panel-body
                    .card__meta
                        .pull-left
                            h4.card__title: a(href="#")= card.title
                            .like-block.lead
                                .like-block__block.pull-left
                                    a.text-success.text-success_hover(href="#"): i.fa.fa-thumbs-up
                                    span.card__like-count.text-success=card.likes
                                .like-block__block.pull-left
                                    a.text-warning.text-warning_hover(href="#"): i.fa.fa-thumbs-down
                                    span.card__dislike-count.text-warning=card.dislikes
                        .pull-right
                            .card__flag
                                img(src=card.flag, alt="flag")
                            .card__liked.text-center
                                a.lead.text-danger(href="#"): i(class="fa fa-heart" + ( !card.isLiked ? "-o" : "" ) )
    else
        .card.card_square
            .card__img-container
                img.img-responsive.card__img(src=card.img, alt=card.img)
                .card__img-info
                    .divider
                    .card__meta
                        .card__flag
                            img.center-block(src=card.flag, alt="flag")
                        h3.text-center: a.text-white(href="#")= card.title
                    .like-block.card__likes_pb.text-center.lead
                        span.like-block__block
                            a.text-success(href="#"): i.fa.fa-thumbs-up
                            span.card__like-count.text-success= card.likes
                        span.like-block__block
                            a.text-warning(href="#"): i.fa.fa-thumbs-down
                            span.card__dislike-count.text-warning= card.dislikes
                        span.like-block__block
                            a.text-danger(href="#"): i(class="fa fa-heart" +  (!card.isLiked ? "-o" : "") )
                    .text-muted.card__date.card__date_center.fz6=card.date